{% extends 'base.html' %}

{% block content %}

  <h2 class="mb-4 text-primary fw-semibold">Reclamações Registradas</h2>

  <!-- Div responsiva para a tabela  -->
  <div class="table-responsive shadow-sm rounded-3">
    <table class="table align-middle table-striped table-hover">
      <thead class="table-primary">
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Descrição</th>
          <th>Data</th>
        </tr>
      </thead>

      <tbody>
        {% for c in complaints %}
          <tr>
            <!-- Exibe o nome do reclamante -->
            <td>{{ c.get('nome') }}</td>

            <!-- Exibe o e-mail -->
            <td>{{ c.get('email') }}</td>

            <!-- Exibe a descrição da reclamação -->
            <td class="compl-text" style="max-width: 300px; word-wrap: break-word;">
              {{ c.get('descricao') }}
            </td>

            <!-- Exibe a data em que a reclamação foi criada -->
            <td>{{ c.get('created_at') }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4" class="text-center text-muted py-4">
              Nenhuma reclamação registrada ainda.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
